<div class="row">
  <div class="large-7 columns">
 
      <h3>Get in Touch.</h3>
      <p>Have an app or website project you want us to work on? Tell us about it! 
        Leave your name, email, and a brief description of your project idea below. We will quickly respond  with our take on your idea, then discuss the steps involved to move forward with development of your project.</p> 
      <div class="section-container tabs" >
        <section class="section">
          <%= form_for inquiry do |f| %>
          <div class="row collapse">
            <div class="large-2 columns">
              <%= f.label :name %>
            </div>
            <div class="large-10 columns">
              <%= f.text_field :name %>
            </div>
          </div>
          <div class="row collapse">
            <div class="large-2 columns">
              <%= f.label :email %>
            </div>
            <div class="large-10 columns">
              <%= f.text_field :email %>
            </div>
          </div>
          <div class="row collapse">
            <div class="large-2 columns">
              <%= f.label :message %>
            </div>
            <div class="large-10 columns">
              <%= f.text_area :message %>
            </div>
          </div>
          <%= f.submit "Send", class:"small radius button"  %>
          <% end %>
        </section>
      </div>


  </div>
  <div style="padding-top:40px">

      </div>
</div>


