<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Obsidian Developers" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
   <div class="row show-for-medium-up">
     <div class="large-12 columns" style="padding-top: 10px">
       <h1><a href="/"><big>Obsidian Developers</big></a></h1>
     </div>
     <div class="large-12 columns">
       <ul class="button-group right">
         
         <li style="padding-right: 10px"><a href="/about/ourwork" class="medium radius button"><big>Our Work</big></a><br/></li>
         <li style="padding-right: 10px"><a href="/inquiries/new" class="medium radius button"><big>Apply</big></a></li>
<li style="padding-right: 10px"><a href="/about/aboutus" class="medium radius button"><big>About Us</big></a><br/></li>
       </ul>
     </div>
     <%= yield %>
     <footer class="row" style="padding-bottom:30px">
     <div class="large-12 columns">
       <hr />
       <div class="row">
         <div class="large-6 columns">
         <!-- Place this code where you want the badge to render. -->
              <a target="_new" href="https://plus.google.com/110255810300584328180?prsrc=3"
                 rel="publisher" style="text-decoration:none;display:inline-block;color:#000;text-align:center; font:13px/16px arial,sans-serif;white-space:nowrap;">
              <span style="display:inline-block;vertical-align:top;margin-right:15px; margin-top:8px;">Follow us on</span>
              <img src="http://cdn.business2community.com/wp-content/uploads/2013/06/Marketing-Best-Practice-with-Google-Plus-Business-pages.png" alt="Google+" style="border:0;width:32px;height:32px;"/>
              </a>
              

              <a target="_new" href="https://github.com/Obsidian-Developers/obsidiandevelopers-website"
                 rel="publisher" style="text-decoration:none;color:#000;padding-left:12px; font:13px/16px arial,sans-serif;">
              <span style="display:inline-block;margin-right:15px; margin-top:8px;">Get this site's source code on GitHub</span>
              <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR1y1o4B-9pMd8SS12WMT0kneOJpXUDg6cn4K4yGU5TiqPxvKZ6sw" alt="Google+" style="border:0;width:41px;height:41px;"/>
              </a>
         </div>

       </div>
     </div>
    </footer>
   </div>
   <div class="show-for-small-only">
     <div class="off-canvas-wrap">
        <div class="inner-wrap">
          <nav class="tab-bar">
            <section class="left-small">
              <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
            </section>

            <section class="middle tab-bar-section">
              <h1 class="title">Obsidian Developers</h1>
            </section>

            
          </nav>
           
          <%= yield %>
          <!-- Off Canvas Menu -->
          <aside class="left-off-canvas-menu">
              <!-- whatever you want goes here -->
              
              <ul class="off-canvas-list">
                <div data-no-turbolink>
                 <li><label>Site Navigation</label></li>

                  <li><a href="/">Home</a></li>
                  <li><a href="/about/ourwork">Our Work</a></li>
                  <li><a href="/inquiries/new">Apply</a></li>
                  <li><a href="/about/tutorials">About Us</a></li>
                  <li><label>Social Media</label></li>
                  <li><a target="_new" href="https://plus.google.com/110255810300584328180/posts">Google+</a></li>
                  <li><a targer="_new"href="https://github.com/Obsidian-Developers">Github</a></li>
                </div> 
              </ul>
              
          </aside>
        </div>
      </div>
   </div>

  
    
    <%= javascript_include_tag "application" %>
  </body>
</html>