<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Obsidian Developers" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
   <div class="row show-for-medium-up">
     <div class="large-12 columns" style="padding-top: 10px">
       <h1><a href="/"><big>Obsidian Developers</big></a></h1>
     </div>
     <div class="large-12 columns">
       <ul class="button-group right">
         
         <li><a href="/about/ourwork" class="medium radius button"><big>Our Work</big></a><br/></li>
         <li style="padding-left: 10px; padding-right: 10px"><a href="/about/tutorials" class="medium radius button"><big>Tutorials</big></a><br/></li>
         <li><a href="/inquiries/new" class="medium radius button"><big>Apply</big></a></li>
       </ul>
     </div>
     <%= yield %>
   </div>
   <div class="show-for-small-only">
     <div class="off-canvas-wrap">
        <div class="inner-wrap">
          
          <a class="left-off-canvas-toggle" href="#">Menu</a> 
          <%= yield %>
          <!-- Off Canvas Menu -->
          <aside class="left-off-canvas-menu">
              <!-- whatever you want goes here -->
              <ul>
              <div data-no-turbolink>
                <li><a href="/">Home</a></li>
                <li><a href="/about/ourwork">Our Work</a></li>
                <li><a href="/about/tutorials">Tutorials</a></li>
                <li><a href="/inquiries/new">Apply Now</a></li>
              </div>
              </ul>
          </aside>
        </div>
      </div>
   </div>

  
    <footer class="row">
     <div class="large-12 columns">
       <hr />
       <div class="row">
         <div class="large-6 columns">
         
         </div>
       </div>
     </div>
    </footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>